!!!
%html
  %head
    %meta
      = stylesheet_link_tag    "wysiwyg_docs/application", :media => "all"
      = javascript_include_tag "wysiwyg_docs/application"
      = csrf_meta_tags
    %title= WysiwygDocs.page_title
  %body.wysiwyg_docs
    .navbar.navbar-fixed-top
      .navbar-inner
        %ul.nav
          %li
            = link_to WysiwygDocs.index_title
          - if current_user && current_user.admin?
            %li
              = link_to "Topics", topics_path

    #main{:role => "main"}
      .container
        .container-fluid
          .row-fluid
            .row
              .span12
                = yield

