%p#notice= notice

%h1= @topic.name

%table.table.table-bordered
  %colgroup
    %col
    %col.link
    %col.link
  %tr
    %th Name
    %th
    %th

  - @topic.articles.each do |article|
    %tr
      %td= article.title
      %td= link_to 'Show', [@topic, article]
      %td= link_to 'Destroy', [@topic, article], method: :delete, data: { confirm: 'Are you sure?' }


= link_to "New article", new_topic_article_path(@topic), class: "btn"

