

.span9
  - if current_user && current_user.admin?
    = form_for @doc do |form|
      - if @doc.present?
        = render :partial =>  "shared/editor", locals: {content: @doc.content, form: form}
      - else
        = render :partial =>  "shared/editor", locals: {content: "No content yet", form: form}

  - else
    - if @doc.present? && @doc.content.present?
      = @doc.content.html_safe

= render "shared/sidebar"